{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    "requireConfigFile": false
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "import",
    "prettier",
    "jsx-a11y"
  ],
  "rules": {
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"],
        "pathGroups": [
          {
            "pattern": "@/**",
            "group": "internal"
          }
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "prettier/prettier": "error",
    "@typescript-eslint/no-explicit-any": 0,
    "semi": ["error", "always"],
    "quotes": ["error", "double"],
    "react/prop-types": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "react/no-unused-state": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "react/react-in-jsx-scope": "off",
    "array-callback-return": 0,
    "react/self-closing-comp": "error",
    "jsx-a11y/anchor-is-valid": "warn",
    "jsx-a11y/alt-text": "warn",
    "jsx-a11y/no-autofocus": "warn",
    "complexity": ["warn", 10],
    "max-lines": ["warn", 300]
  }
}

