@use "sass:map";

$breakpoints: (
  mobile: "screen and (max-width: 767px)",
  tablet: "screen and (max-width: 1259px)",
  pc: "screen and (min-width: 1260px)",
);

@mixin respond-to($breakpoint) {
  @media #{map.get($breakpoints, $breakpoint)} {
    @content;
  }
}
